<form [formGroup]="formGroupUpdate" (ngSubmit)="onSubmit()">
  
    <label>
      First Name:
      <input type="text" formControlName="company">
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="address">
    </label>
    <button type="submit" >Update</button>
  </form>
<hr>
  <form [formGroup]="formGroupAdd" (ngSubmit)="onAdd()">
  
    <label>
      First Name:
      <input type="text" formControlName="company">
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="address">
    </label>
    <button type="submit" >add</button>
  </form>

