<!-- <input type="text" #name (keyup)="setname(name.value)" class="form-control">
hello {{namevalue}}
<app-child-component (inputValueFromChild)="setname($event)"></app-child-component>
<button class="btn-success">dddd</button>

<ul class="list-group" *ngFor="let book of books">
    <li class="list-group-item">
        {{book.name}}
        <div *ngIf="book.name=='naruto'">Content to render when condition is true.</div>
    </li>
</ul>

<div *ngIf="namevalue==1">Content to render when condition is true.</div> -->
<button (click)="goto('table')">table</button>
<button (click)="goto('aboutus')">aboutus</button>
<button (click)="goto('page')">page</button>
<button (click)="goto('grid')">grid</button>
<button (click)="goto('bank')">bank</button>
<div class="container">
    <router-outlet></router-outlet>
</div>